
.hero-black {
  max-width: 1272px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 48px 0 48px 0;
  overflow: hidden;
}

.hero-leftwhite-text-box {
  margin-left: 59px;
  margin-bottom: 85px;
}

.hero-leftwhite-text-box h1 {
  font-size: 66px;
  font-weight: 600;
  color: #F0F0F0;
}

.line-hero {
  width: 52px;
  height: 5px;
  background: #F0F0F0;
}


.hero-leftwhite-text-linetwo {
  display: flex;
  align-items: center;
  gap: 39px;
  margin-left: 63px;
}

.hero-rightwhite-button {
  width: 130px;
  height: 130px;
  position: relative;
  border-radius: 50%;
  margin-right: 112px;
  z-index: 20;
}

.hero-button-textbox {
  width: 130px;
  height: 130px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-button-circle {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background: #F0F0F0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-rightwhite-button img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-button-textbox p {
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 10.6px;
  font-weight: 500;
  animation: rotateText 10s linear infinite;
}

@keyframes rotateText {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.hero-button-textbox span {
  position: absolute;
  left: 50%;
  transform-origin: 0 65px;
  font-family: monospace;
  color: white;
}

@media only screen and (max-width: 1136px)  {
  .hero-leftwhite-text-box {
    margin-left: 20px;
  }
  .hero-rightwhite-button {
    margin-right: 50px;
  }
}

@media only screen and (max-width: 1048px)  {
  .hero-leftwhite-text-box {
    margin-bottom: 20px;
  }
  .hero-black {
    flex-direction: column;
    align-items: start;
    padding: 48px 0 90px 0;
  }
  .hero-rightwhite-button {
    margin-left: 40px;
    right: 0;
  }
}

@media only screen and (max-width: 888px)  {
  .hero-leftwhite-text-linetwo h1 {
    font-size: 55px;
  }
}

@media only screen and (max-width: 768px)  {
  .hero-leftwhite-text-linetwo h1 {
    font-size: 45px;
  }
}

@media only screen and (max-width: 768px)  {
  .hero-leftwhite-text-box h1 {
    font-size: 55px;
  }
  .hero-leftwhite-text-linetwo h1 {
    font-size: 45px;
  }
  .line-hero {
    width: 40px;
  }
  .hero-leftwhite-text-linetwo {
    gap: 16px;
    margin-left: 23px;
  }
}

@media only screen and (max-width: 579px)  {
  .hero-leftwhite-text-box h1 {
    font-size: 50px;
  }
  .hero-leftwhite-text-linetwo h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 536px)  {
  .hero-leftwhite-text-linetwo h1 {
    font-size: 34px;
  }
}

@media only screen and (max-width: 475px)  {
  .hero-leftwhite-text-box h1 {
    font-size: 44px;
  }
  .hero-leftwhite-text-linetwo h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 429px)  {
  .hero-leftwhite-text-box h1 {
    font-size: 38px;
  }
  .hero-leftwhite-text-linetwo h1 {
    font-size: 26px;
  }
}

@media only screen and (max-width: 380px)  {
  .hero-leftwhite-text-box h1 {
    font-size: 35px;
  }
  .hero-leftwhite-text-linetwo h1 {
    font-size: 20px;
  }
  .line-hero {
    width: 30px;
    height: 3px;
  }
}

