.projects {
  max-width: 1272px;
  margin: 0 auto;
  padding: 54px 0 70px 0;
  overflow: hidden;
}

.projects h2 {
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 30px;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 14px;
  column-gap: 14px;
}

.project-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}

.projects_project {
  position: relative;
}

.projects_project:hover .project-hover {
  display: flex;
}

.project_beauty .project-hover {
  background: rgba(196, 166, 133, 0.9);
}

.project-pizza .project-hover {
  background: rgba(225, 129, 66, 0.96);
}

.project-agency .project-hover {
  background: rgba(9, 54, 66, 0.9)
}

.project-portfolio .project-hover {
  background: rgba(210, 137, 119, 0.85)
}

.logos p {
  font-weight: 500;
  font-size: 12px;
  background: #F0F0F0;
  padding: 2px 6px;
  border-radius: 8px;
}

.html {
  color: #EF4D24;
}

.css {
  color: #3C517C;
}

.javascript {
  color: #DE3363;
}

.react {
  color: #2F4858;
}

.project-buttons {
  display: flex;
  gap: 10px;
}

.project-hover h3 {
  font-size: 24px;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
}

.project-hover button {
  color: #2a2a2a;
  padding: 6px 16px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.logos {
  display: flex;
  gap: 14px;
  margin-bottom: 30px;
} 

.logos img {
  max-width: 30px;
  max-height: 30px;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 1300px)  {
  .projects {
    margin: 0 20px;
  }
  .project_img {
    max-width: 100%;
  }
}

@media only screen and (max-width: 754px)  {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}