.loopstripe {
  padding: 27px 0;
  border-bottom: 1px solid #282828;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}

.loopstripe p {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1.08px;
}

.loopstripe img {
  margin: 0 23px;
}

.looptext {
  display: flex;
  animation: 8s moveStrap linear infinite;
}

@keyframes moveStrap {
  to {
    transform: translateX(-100%);
  }
}