.navbar {
  max-width: 1272px;
  margin: 0 auto;
  padding-top: 18px;
  display: flex;
  justify-content: space-between;
}

.nav-menu {
  display: flex;
  gap: 38px;
}

.nav-menu li a {
  list-style: none;
  color: #F0F0F0;
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
}

.mobile-menu {
  display: none;
  position: relative;
  justify-content: end;
}

.mobile {
  position: absolute;
  top: 160%;
  right: 0;
  background: #F0F0F0;
  padding: 16px;
  flex-direction: column;
  width: 150px;
}

.mobile li {
  list-style: none;
}

.mobile li a {
  color: #282828;
}

@media only screen and (max-width: 1300px)  {
  .navbar{
    margin: 0 20px;
  }
}

@media only screen and (max-width: 556px)  {
  .mobile-menu{
    display: flex;
  }
  .nav-menu {
    display: none;
  }
  .mobile {
    display: flex;
  }
}