.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1172px;
  margin: 0 auto;
  padding: 72px 0;
  overflow: hidden;
}

.footer li {
  list-style: none;
  color: #282828;
  font-size: 14px;
  font-weight: 500;
}

.footer ul {
  display: flex;
  align-items: center;
  gap: 44px;
}

.footer-contact div {
  display: flex;
  align-items: center;
}

.footer-contact div img {
  margin-right: 7px;
}

.footer-contact div {
  font-size: 14px;
  font-weight: 500;
}

.footer-contact {
  display: flex;
  gap: 35px;
}

@media only screen and (max-width: 1300px)  {
  .footer {
    margin: 0 20px;
  }
}

@media only screen and (max-width: 1093px)  {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .footer img:first-child {
    width: 200px;
  }
  .footer-contact img {
    width: 24px !important;
  }
}

@media only screen and (max-width: 440px)  {
  .footer ul {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .footer-contact {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}