.hero-white {
  display: flex;
  justify-content: space-between;
  align-items: end;
  max-width: 1272px;
  margin: 0 auto;
  position: relative;
}

.hero-white-left-box {
  margin-top: -60px;
  margin-bottom: -7px;
}

.hero-white-right-box {
  padding: 0 180px 28px 68px;
}

.hero-white-right-box p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;
  position: relative;
  z-index: 3;
}

.hero-white-right-box p span {
  font-weight: 700;
}

.hero-blur-yellow {
  width: 94px;
  height: 177px;
  transform: rotate(17.159deg);
  background: #E1D800;
  border-radius: 100px;
  filter: blur(55px);
  position: absolute;
  top: 46px;
  right: 68px;
}

.hero-blur-red {
  width: 200px;
  height: 279px;
  transform: rotate(33.864deg);
  border-radius: 301px;
  background: #EF4D24;
  filter: blur(75px);
  position: absolute;
  top: -36px;
  right: 48px;
}

.hero-blur-purple {
  width: 151px;
  height: 279px;
  border-radius: 279px;
  background: rgba(70, 0, 225, 0.80);
  filter: blur(75px);
  position: absolute;
  top: -8px;
  right: -32px;
}

.hero-blures {
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
  height: 500px;
}

@media only screen and (max-width: 1350px)  {
  .hero-white {
    margin: 0 0 0 auto;
  }
  .hero-blures {
    overflow: hidden;
  }
}

@media only screen and (max-width: 1200px)  {
  .hero-white-right-box {
    padding: 0 20px 28px 30px;
  }
}

@media only screen and (max-width: 997px)  {
  .hero-white-left-box img {
    height: 100%;
  }
  .hero-white-left-box {
    max-width: 800px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 754px)  {
  .hero-white {
    flex-direction: column-reverse;
    margin-bottom: 7px;
    align-items: center;
    overflow: hidden;
  }
  .hero-white-left-box {
    margin-top: 0px;
    margin-left: 0;
  }
  .hero-white-right-box {
    padding: 20px 20px 28px 30px
  }
  .hero-blures {
    display: none;
  }
}
