@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #282828;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.black-bg {
  background: url("../src/Components/Assets/background_nav_hero.png");
}

.white-stripe-bg {
  background: url("../src/Components/Assets/background-hero_white.png");
  background-size: contain;
  background-repeat: repeat-y;
  border-bottom: 1px solid rgb(40, 40, 40, 0.07);
}

.white-bg {
  background: url("../src/Components/Assets/backround_white.png");
  background-repeat: repeat;
}

.red-bg {
  background: url('../src/Components/Assets/red-bg.png');
  background-repeat: no-repeat;
  background-position: center;
}

.grey-bg {
  background: rgba(223, 223, 223, 0.4);
  border-top: 1px solid #282828;
}
